[database]
host     = "{{ omeka_db_host }}"
username = "{{ omeka_db_username }}"
password = "{{ omeka_db_password }}"
dbname   = "{{ omeka_db_name }}"
prefix   = "{{ omeka_db_prefix }}"
charset  = "utf8"
